


  <p>HELLO</p>
  
  <app-global-loader></app-global-loader>


  <!-- Currently I see the navigation buttons -->
  <app-navigation></app-navigation>
  
  <!-- And when I change the URL path in browser: either http://localhost:4200/todo-list OR http://localhost:4200/user-list  
    this router-outlet tells the relevant component's html file (see app.routes.ts file) to be rendered here: -->
  <router-outlet></router-outlet>

  
  
  
<!--   <div>
    <div class="nav-btn" (click)="navigateTo('/home')">
      test navigate
    </div>
  </div> -->


<!--   <a routerLink="/home"></a> -->




  <!-- <app-user-list/> -->
  
<!--   <h4>{{title}}</h4> -->



<!-- <base href="/"> 
<nav>
  <a routerLink="/home">Home</a>
  <p></p>
  <a routerLink="/about">About</a>
</nav>
<hr>
<router-outlet></router-outlet> -->

  
