<p>navigation works!</p>


<!-- 
    source:
    https://stackoverflow.com/questions/38832851/angular-routerlink-does-not-navigate-to-the-corresponding-component - see last answer from Nov 10 at 6:24

    https://angular.io/guide/router-reference
-->
<div>
    <div class="nav-btn" routerLink="/user-list" >Users List</div>
    <div class="nav-btn" routerLink="/todo-list">Todos List</div>

    <!--     
    Here are some addtional attributes, but as you see above, routing works even without them!
    <a class="nav-btn" routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">Users List</a>
    <a class="nav-btn" routerLink="/todo-list" routerLinkActive="active" ariaCurrentWhenActive="page">Todos List</a> -->

</div>

